@media screen and (max-width: 767px) {
    .container {
        width: 100%;
    }

    .header-nav-ul,
    .callMe,
    hr {
        display: none;
    }

    header>nav {
        justify-content: space-around !important;
    }

    main {
        flex-direction: column !important;
    }

    /* .main-div-left>ul {
        flex-direction: row !important;
    } */


}