.bodyMain {
    width: 1366px;
    background-color: rgb(177, 177, 177, 0.8);
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

.bodyMain-left {
    width: 360px;
    display: block;
}

.mian-left-headPortrait{
    margin-left: 80px;
    margin-top: 25px;
}

.mian-left-nameText,
.mian-left-describeText{
    text-align: center;
    margin-top: 25px;
}

.bodyMain-right {
    width: 1000px;
    display: block;
}